.category-title{
    color:#667080;
text-align: center;
font-family: "Inter",sans-serif;
font-size: 24px;
font-style: italic;
font-weight: 300;
line-height: 14px; /* 58.333% */
letter-spacing: -0.5px;
}