.mybooking-title{
    text-align: center;
font-family: "Inter",sans-serif;
font-size: 36px;
font-style: italic;
color: var(--main-color);
font-weight: 700;
line-height: 22px; /* 61.111% */
letter-spacing: -0.72px;
padding: 20px;
text-align: start;
}

.subtitle{
    color: #000;
font-family: "Lato",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 91.667% */
letter-spacing: -0.48px;
text-align: start;

}

.booking-card{
    cursor: pointer;
    display: flex;
    margin: 10px;
padding: 9px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 24px;
background: #3C4A2F;
color: var(--White, #FFF);
font-feature-settings: 'calt' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 157.143% */
letter-spacing: -0.28px;
}